.page_wrapper {
    border: 1px solid red;
    background-color: #ffffff;
    width: 80%;
}
.header {
    border: 1px solid red;
    margin: 15px;
    text-align: left;
}
.cards_list {
    border: 1px solid red;
    margin: 15px;
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
/* TESTING MOCKUP CARD */
.card_test {
    border: 1px solid red;
    flex: 0 1 25%;
    display: grid;
    grid-template-areas:
        "pic"
    grid-template-row 1fr;
}
.img_test {
    border: 1px solid red;
    margin: 5px;
    grid-area: pic;
}

/* SINGLE CARD STYLES */
.card {
    border: 1px solid red;
    padding: 1.5vw;
    flex: 0 1 25%;
    display: grid;
    grid-template-areas:
        "pic"
        "title"
        "date"
        "rate"
        "price";
    grid-template-rows: 10fr 2fr 1fr 1.2fr 1.5fr;
    /* grid-template-rows: 55% 15% 5% 10% 5%; */
    grid-template-columns: 1fr;
}

.img_block {
    border: 1px solid red;
    margin-bottom: 20px;
    grid-area: pic;
}
.img_block img{
    height: 100%;
    object-fit: cover;
}
.title, .date_from, .rating, .price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title {
    grid-area: title;
}

.date_from {
    grid-area: date;

}

.rating {
    grid-area: rate;
    font-size: 2vw;
}
.red {
    color: red;
}
.gray {
    color: gray;
}
.price {
    grid-area: price;
}

/* PAGINATION STYLES */
.paginator {
    margin: 5px;
    display: flex;
    justify-content: center;
}
.button,
.button_current,
.button_next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    margin: 5px;
}
.button {
    background-color: pink;
}
.button_current {
    background-color: red;
}
.button_next {
    background-color: grey;
    color: white;
}
.preloader_position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100%;
}