.page_wrapper {
    background-color: #ffffff;
    width: 80%;
}
.header {
    margin: 1.5vw 3vw 0 3vw;
    text-align: left;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.cards_list {
    margin: 0 1.5vw;
    /* margin-bottom: 0; */
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
/* TESTING MOCKUP CARD */
.card_test {
    flex: 0 1 25%;
    display: grid;
    grid-template-areas:
        "pic"
    grid-template-row 1fr;
}
.img_test {
    margin: 0.5vw;
    grid-area: pic;
}

/* SINGLE CARD STYLES */
.card {
    background-color: #ffffff;
    padding: 1.5vw;
    flex: 0 1 25%;
    display: grid;
    grid-template-areas:
        "pic"
        "title"
        "date"
        "rate"
        "price";
    grid-template-rows: 10fr 2.2fr 1fr 1.2fr 1.5fr;
    min-width: 0px;
    min-height: 0px;
}

.card:hover {
    box-shadow: 0 0 10px rgb(194, 194, 194);
    transform: scale(1.03, 1.03);
    z-index: 1;
    transition-duration: 200ms;
}

.img_block {
    margin-bottom: 1.4vw;
    grid-area: pic;
    min-height: 18vw;
    background-color: rgb(209, 206, 206);
}
.img_block img{
    height: 100%;
    object-fit: cover;
}
.paginator,
.title, .date_from, .rating, .rating p, .price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 0;
    /* text-overflow: ellipsis; */
    /* border: 1px solid red; */

}

.title {
    grid-area: title;
    font-size: 1.2vw;
    text-align: left;
    max-height: 8vw;
    min-height: 4.6vw;
}
/* not working */
.title div{
    text-overflow: ellipsis; 
}

.date_from {
    grid-area: date;

}

.rating {
    grid-area: rate;
    font-size: 2vw;
}
.red {
    color: red;
}
.gray {
    color: gray;
}
.price {
    grid-area: price;
    font-size: 1.6vw;
}

/* PAGINATION STYLES */
.paginator {
    margin: 1.5vw 0.5vw;
    display: flex;
    justify-content: center;
}
.button,
.button_current,
.button_next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    min-width: 40px;
    height: 3vw;
    min-height: 40px;
    margin: 5px;
}
.button {
    background-color: pink;
}
.button_current {
    background-color: red;
}
.button_next {
    background-color: grey;
    color: white;
}
.preloader_position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100%;
}
@media screen and (max-width: 768px) {
    .page_wrapper {
        width: 95%;
    }
    .card {
        flex: 0 1 33%;
    }
    .img_block {
        min-height: 35vw;
    }
    .title {
        font-size: 1.6vw;
    }
    .rating {
        font-size: 3vw;
    }
    .price {
        font-size: 2.4vw;
    }
}
@media screen and (max-width: 600px) {
    .page_wrapper {
        width: 100%;
    }
    .card {
        flex: 0 1 50%;
    }
    .img_block {
        min-height: 55vw;
    }
    .title {
        font-size: 2.2vw;
    }
    .rating {
        font-size: 4vw;
    }
    .price {
        font-size: 3.2vw;
    }
}
@media screen and (max-width: 375px) {
    .card,.card_test {
        flex: 0 1 100%;
    }
    .img_block {
        min-height: 110vw;
    }
    .title {
        font-size: 3.5vw;
        max-height: 10vw;
    }
    .rating {
        font-size: 8vw;
    }
    .price {
        font-size: 6vw;
    }
}