.page_wrapper {
    background-color: #ffffff;
    width: 80%;
}
.header {
    margin: 25px 50px;
    text-align: left;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.cards_list {
    margin: 15px;
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
/* TESTING MOCKUP CARD */
.card_test {
    flex: 0 1 25%;
    display: grid;
    grid-template-areas:
        "pic"
    grid-template-row 1fr;
}
.img_test {
    margin: 5px;
    grid-area: pic;
}

/* SINGLE CARD STYLES */
.card {
    padding: 1.5vw;
    flex: 0 1 25%;
    display: grid;
    grid-template-areas:
        "pic"
        "title"
        "date"
        "rate"
        "price";
    grid-template-rows: 10fr 2fr 1fr 1.2fr 1.5fr;
    /* grid-template-rows: 55% 15% 5% 10% 5%; */
    /* grid-template-columns: 1fr; */
}

.img_block {
    margin-bottom: 20px;
    grid-area: pic;
}
.img_block img{
    height: 100%;
    object-fit: cover;
}
.title, .date_from, .rating, .price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title {
    grid-area: title;
    font-size: 1.2vw;
    text-align: left;
}

.date_from {
    grid-area: date;

}

.rating {
    grid-area: rate;
    font-size: 2vw;
}
.red {
    color: red;
}
.gray {
    color: gray;
}
.price {
    grid-area: price;
    font-size: 1.6vw;
}

/* PAGINATION STYLES */
.paginator {
    margin: 5px;
    display: flex;
    justify-content: center;
}
.button,
.button_current,
.button_next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    margin: 5px;
}
.button {
    background-color: pink;
}
.button_current {
    background-color: red;
}
.button_next {
    background-color: grey;
    color: white;
}
.preloader_position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100%;
}
@media screen and (max-width: 992px) {
    .card {
        flex: 0 1 33%;
    }
    .title {
        font-size: 1.8vw;
    }
    .rating {
        font-size: 3vw;
    }
    .price {
        font-size: 2.4vw;
    }
}
@media screen and (max-width: 600px) {
    .card {
        flex: 0 1 50%;
    }
    .title {
        font-size: 2.4vw;
    }
    .rating {
        font-size: 4vw;
    }
    .price {
        font-size: 3.2vw;
    }
}
@media screen and (max-width: 400px) {
    .card,.card_test {
        flex: 0 1 100%;
    }
    .title {
        font-size: 4.8vw;
    }
    .rating {
        font-size: 8vw;
    }
    .price {
        font-size: 6.4vw;
    }
}